ipykernel==6.26.0
numpy==1.26.1
pandas==2.1.2
requests==2.31.0
demjson3==3.0.6
requests-html==0.10.0
dateparser==1.1.8
ipywidgets==8.1.1
matplotlib==3.8.1
seaborn==0.13.0
wordcloud==1.9.2
browser-cookie3==0.19.1
scipy==1.11.4
dash==2.14.1